* {
  padding: 0;
  margin: 0;
  font-family: "Noto sans", sans-serif;
  font-weight: 300;
}



.pagetop {
  background-color: #616A6B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  color: #D7DBDD;
  padding: 10px;
}

.header-buttons {
  display: flex;
}

.btn {
  background-color: #616A6B;
  border: none;
  color: white;
  padding: 16px 16px;
  font-size: 30px;
  cursor: pointer;
}


.icon {
  width: 30%;
  height: auto;
}


.logoAndName {
  display: flex;
  flex-wrap: nowrap;
}

h1.title {
  display: flex;
  align-items: center;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-weight: 100;
  letter-spacing: 20px;
  margin: 1%;
  font-family: "Roboto";
}

.page-subtitle {
  margin-top: 5em;
  font-size: 20px;
  letter-spacing: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #616A6B;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 1.2em;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.custom-slider {
  display: none;
}

.slide-container {
  max-width: 800px;
  position: relative;
  background-color: #CACACA;
  margin: auto;
  margin-top: 20px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.6s ease;
}

.prev {
  left: 15px;
}

.next {
  right: 15px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.slide-text {
  position: relative;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
  bottom: 15px;
  width: 100%;
  text-align: center;

}

.slide-index {
  color: #ffffff;
  font-size: 13px;
  padding: 15px;
  position: absolute;
  top: 0;
}

.slide-img {
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: center;
}

.slide-dot {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #111111;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.description {
  margin: 2% 10%;
  text-align: center;
  font-size: large;
  font-weight: 100;
}

.menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

.inscription-box {
  width: 20em;
  margin: 10em auto;
  text-align: center;
  border: 1px solid #CACACA;
  padding: 0 0 13px 0;
  border-radius: 10%;
}

.form-element {
  padding: 5px 0;
}

input[type=submit] {
  background-color: white;
  border: 1px solid;
  color: black;
  border-color: #CACACA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
}

input[type=submit]:hover {
  background-color: #a8a8a8;
}

input[type=email],
input[type=password] {
  border: 2px solid #CACACA;
  border-radius: 69px;
}

hr {
  width: 50%;
  margin: auto;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* Pour que les cartes s'enroulent sur plusieurs lignes si nécessaire /
    margin-top: 50px; / Ajustez selon vos besoins */
}

.card {
  width: 400px;
  margin: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: 400px;
  background: url('https://via.placeholder.com/400');
  background-size: cover;
}

.card-content {
  padding: 20px;
  background-color: grey;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-description {
  height: 80px;
  font-size: 16px;
  color: #555;
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: calc(100% - 20px);
  }
}

.modal {
  display: none;
  /* Par défaut, le modal est caché */
  position: fixed;
  /* Position fixe pour qu'il reste au centre */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fond semi-transparent */
  z-index: 9999;
  /* Assurez-vous que le modal s'affiche au-dessus de tout le reste */
}

/* Contenu du modal */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  /* Largeur maximale du contenu */
  max-height: 80%;
  /* Hauteur maximale du contenu */
  overflow: auto;
  /* Activation du défilement si le contenu est trop long */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  /* Ombre portée */
}

/* Bouton pour fermer le modal */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

/* Style du carousel */
.carousel {
  display: flex;
  overflow-x: auto;
}

.carousel-item {
  flex: 0 0 auto;
  margin-right: 10px;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

/* Style des vignettes */
.carousel-thumbnails {
  margin-top: 10px;
}

.carousel-thumbnails img {
  width: 50px;
  /* Taille des vignettes */
  height: auto;
  margin-right: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.cart-item {
  display: flex;
  flex-flow: row;
  width: 90%;
  margin: 0 auto 1em;
  border: 1px solid #CACACA;
  padding: 1%;
  border-radius: 20px;
}

.cart-image {
  width: 10%;
  height: 10%;
}

.cart-content {
  width: 100%;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}

.cart-title {
  font-size: 50px;
}

.cart-info {
  font-size: 50px;
  text-align: center;
}

.testpourlinstan {
  display: flex;
  font-size: 30px;
  margin: 3em auto;
}

.cart-items-container {
  width: 90%;
}

.cart-summary {
  border: 1px solid #CACACA;
  border-radius: 20px;
  text-align: center;
}

.summary-collumn {
  width: 25%;
  margin: 0 1em;
}

.quantity {
  display: flex;
  align-items: center;
}

.amount-button {
  padding: 5px 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}


